page-eventos {

    .item-md ion-avatar {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .scroll-content {
        margin-top: 0;
    }

    .eventos {
        background-color: #eee;

        h1.titulo {
            font-weight: bolder;
            margin-bottom: 15px;
            font-size: 1.5em;
            text-align: left;
        }
        .data-evento{
            color:red;
            font-size: 0.8em;
            font-weight: bold;
        }

        .data {
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;  
        }
        .btn-action{
            display: flex;
            align-content: space-around;
        }
        

    }
    @media screen and (min-width: 580px) {
        .card-event {
               width:60%;
               margin-left: 20%;
         }
    }

}
