<!--
  Generated template for the EventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<meta charset="UTF-8">
<ion-content class="eventos">
  <h3 *ngIf="eventos.length == 0" class="sem-registros">
    Não foi encontrado nenhum evento!
  </h3>
  <ion-card class="card-event" *ngFor="let evento of eventos">
    <ion-item *ngIf="evento.usuario" (click)="abrirPerfil(evento.usuario)">
      <ion-avatar item-start>
        <img src="{{ evento.usuario.fotoPerfil }}">
      </ion-avatar>
      <h2>{{ evento.usuario.nome }}</h2>
      <ion-note>
        Publicado em {{ evento.dataPublicacao | date:'dd/MM/yyyy' }}
      </ion-note>   
    </ion-item>
    <img src="{{ evento.foto }}">
    <ion-card-content>
      <ion-col class="data-evento">
        <span>{{ evento.data | date:'dd/MM/yyyy'}}</span>
      </ion-col>
      <h1 class="titulo">{{ evento.nome }}</h1>
      <p>{{ evento.descricao }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col class="btn-action">
        <button ion-button icon-left clear small (click)="abrirDetalhes(evento)">
          <ion-icon name="information-circle"></ion-icon>
          Mais Informações
        </button>
      </ion-col>
      
    </ion-row>
  </ion-card>
</ion-content>