<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-toolbar transparent>
      <ion-buttons end> 
        <button ion-button icon-only clear (click)="abrirInformacao()">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding class="login">

    <div class="logo">
      <img src="assets/imgs/logo.png">
    </div>

    <h3 magin-bottom>Acesse sua conta.</h3>
    <form [formGroup]="formGroup" class="form-login">
      <ion-list margin-top margin-top margin-bottom>
        <ion-item>
          <ion-label stacked>Nome de usuário ou Email</ion-label>
          <ion-input type="text" formControlName="email"[(ngModel)]="logar.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" formControlName="senha" [(ngModel)]="logar.senha"></ion-input>
        </ion-item>
        
        <button ion-button secondary round full (click)="login()">Entrar</button>
        <button ion-button full clear small (click)="redefinirSenha()">Esqueci minha senha</button>
        <h6 text-right class="btn-conta" rigth (click)="criarConta()">Não possui uma conta?</h6>
      </ion-list>
    </form>   
</ion-content>

