page-login {

    .item-md {
        padding-left: 0 !important; 
    }

    h3 {
        text-align: center;
    }

    .logo {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

        img {
            max-height: 100px;
        }
    } 
    .btn-conta{
        color:gray;
        font-weight: inherit;
    } 

    
    @media screen and (min-width: 580px) {
        .form-login {
               width:30%;
               margin-left: 35%;
         }
    }
    
}
