<!--
  Generated template for the EditarEventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button class="icon-large">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Editar Evento</ion-title>
    <ion-buttons right>
      <button ion-button class="icon-large" (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="image">
    <ion-fab top right>
      <button ion-fab color="light" mini>
        <ion-icon name="create"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab mini (click)="alterarImagem('arquivo')">
          <ion-icon name="image"></ion-icon>
        </button>
        <button ion-fab mini (click)="alterarImagem('camera')">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
    <img [src]="dados.foto">
  </div>
  <div class="form">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="dados.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-textarea type="text" rows="4" [(ngModel)]="dados.descricao"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Data</ion-label>
      <ion-input type="date" [(ngModel)]="dados.data"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Horário</ion-label>
      <ion-input type="text" [(ngModel)]="dados.horario"></ion-input>
    </ion-item>
    <ion-item padding-top>
      <ion-label floating>Estado</ion-label>
      <ion-select [(ngModel)]="dados.endereco.idEstado" (ionChange)="carregarCidades(true)">
        <ion-option *ngFor="let estado of estados, let i = index" [value]="estado.id" [selected]="this.dados.endereco.estado == estado.id" (click)="salvarEstado(estado)">{{ estado.nome }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Cidade</ion-label>
      <ion-select [(ngModel)]="dados.endereco.idCidade" (ionChange)="obterDadosCidade()">
        <ion-option *ngFor="let cidade of cidades, let i = index" [value]="cidade.id" [selected]="this.dados.endereco.cidade == cidade.id" (click)="salvarCidade(cidade)">{{ cidade.nome }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Bairro</ion-label>
      <ion-input type="text" [(ngModel)]="dados.endereco.bairro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Rua</ion-label>
      <ion-input type="text" [(ngModel)]="dados.endereco.rua"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Número</ion-label>
      <ion-input type="text" [(ngModel)]="dados.endereco.numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>CEP</ion-label>
      <ion-input type="text" [(ngModel)]="dados.endereco.cep"></ion-input>
    </ion-item>
    <ion-item padding-bottom>
      <ion-label floating>Referência</ion-label>
      <ion-input type="text" [(ngModel)]="dados.endereco.referencia"></ion-input>
    </ion-item>
    <ion-item padding-top>
      <ion-label floating>Nome do Contato para Informações</ion-label>
      <ion-input type="text" [(ngModel)]="dados.nomeContato"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email para Contato</ion-label>
      <ion-input type="text" [(ngModel)]="dados.emailContato"></ion-input>
    </ion-item>
    <ion-item padding-bottom>
      <ion-label floating>Telefone/Whatsapp para Contato</ion-label>
      <ion-input type="text" [(ngModel)]="dados.telefoneContato"></ion-input>
    </ion-item>
    <ion-item padding-top>
      <ion-label floating>Informações Adicionais</ion-label>
      <ion-textarea type="text" rows="4" [(ngModel)]="dados.informacoesAdicionais"></ion-textarea>
    </ion-item>
  </div>
  <div class="botoes">
    <button ion-button full round (click)="salvar()">Salvar</button>
    <button clear full ion-button (click)="cancelar()">Cancelar</button>
  </div>
</ion-content>