page-editar-evento {

    ion-item:not(.with-padding) .item-md {
        padding-left: 0 !important; 
     }
    
     ion-item:not(.with-padding).item-md {
        padding-left: 0 !important; 
     }


    .form {
        padding: 20px;
    }

    .botoes {
        padding: 20px;
    }

}
