<!--
  Generated template for the UsuariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list >
      <ion-item-sliding *ngFor="let usuario of usuarios">
          <ion-item >
            <ion-avatar item-start>
              <img src="{{usuario.fotoPerfil}}">
            </ion-avatar>
            <h2>{{usuario.nome}}</h2>
            <p>{{usuario.igreja}} IEQ</p>
          </ion-item>
          <ion-item-options side="rigth">
            <button color="secondary" ion-button (click)="archive(item)">
              <ion-icon name="thumbs-up"></ion-icon>
              Liberar
            </button>
          </ion-item-options>
          <ion-item-options side="left">
            <button color="danger" ion-button>
              <ion-icon name="thumbs-down"></ion-icon>
              Recusar
            </button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>
</ion-content>
