page-perfil {
    .perfil {

        .capa {

            width: 100%;
            position: relative;
            height: 170px;
            margin-bottom: 30px;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover !important;
            }

        }

        .foto {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 45px;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            overflow: hidden;
            border: 2px solid #ddd;
            left:calc(50% - 75px);
            
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover !important; 
            }
        }

        .info {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 20px;

            .dados-pessoais {

                width: 100%;
                padding: 0 20px;

                .nome {
                    text-align: center;
                    margin-bottom: 15px;
                    color: #333;
                    font-size: 1.6em;
                }

                .bio {
                    text-align: justify;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    color: #333;
                    font-size: 1em;
                }

            }
            .dados-contato{
                width: 100%;
            }

            .email, .telefone {
                text-align: center;
                font-size: 1em;
                text-transform: lowercase !important;
                width: 100%;
            }

        }

    }

    .eventos {

        h1.titulo {
            margin-bottom: 15px;
            font-size: 1.5em;
            text-align: center;
        }

        .data {
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
        }

    }
}
