<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button class="icon-large">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons right>
      <button ion-button class="icon-large" (click)="sair()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="perfil">
    <div class="capa">
      <img src="{{ dados.fotoCapa }}">
      <div class="foto">
        <img src="{{ dados.fotoPerfil }}">
      </div>
    </div>
    <div class="info">
      <div class="dados-pessoais">
        <h1 class="nome">{{ dados.nome }}</h1>
        <p class="bio">{{ dados.bio }}</div>
      <div class="dados-contato">
        <button ion-button icon-left block clear class="email">
          <ion-icon name="mail"></ion-icon>
          {{ dados.email }}
        </button>
        <button ion-button icon-left block clear class="telefone" (click)="conversarWhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
          {{ dados.telefone }}
        </button>

      </div>
    </div>
  </div>
  <div class="eventos" *ngIf="usuario.get().gerenciador==true">
    <h3 *ngIf="eventos.length == 0" class="sem-registros">
      Nenhum evento publicado!
    </h3>
    <ion-card *ngFor="let evento of eventos">
      <img src="{{ evento.foto }}">
      <ion-card-content>
        <h1 class="titulo">{{ evento.nome }}</h1>
        <p>{{ evento.descricao }}</p>
        <!-- <ion-note>
          11h ago
        </ion-note> -->
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small (click)="abrirDetalhes(evento)">
            <ion-icon name="information-circle"></ion-icon>
            Mais Informações
          </button>
        </ion-col>
        <ion-col class="data">
          <span>{{ evento.dataPublicacao | date:'dd/MM/yyyy' }}</span>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>