<!--
  Generated template for the SolicitacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Solicitações</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>


<ion-content padding>
    <h3 *ngIf="solicitacoes.length == 0"  class="sem-registros">
        Não há solicitações!
      </h3>
  <ion-list *ngFor="let solicitacao of solicitacoes">
      <ion-item-sliding>
          <ion-item>
            <h2>{{solicitacao.nome}}</h2>
            <p>{{solicitacao.igreja}} IEQ</p>
            <p>Solicitado em {{ solicitacao.data | date:'dd/MM/yyyy' }}</p>
          </ion-item>
          <ion-item-options side="rigth">
            <button color="secondary" ion-button (click)="confirm(solicitacao, solicitacao.idUser, true)">
              <ion-icon name="thumbs-up"></ion-icon>
              Liberar
            </button>
          </ion-item-options>
          <ion-item-options side="left">
            <button color="danger" ion-button (click)="confirm(solicitacao, solicitacao.idUser, false)">
              <ion-icon name="thumbs-down"></ion-icon>
              Recusar
            </button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>
</ion-content>
