<!--
  Generated template for the RelatoriosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
      <ion-buttons left>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Relatório</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
      <ion-item-divider color="light">
        <ion-label>
            Usuários
        </ion-label>
      </ion-item-divider>
      <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          Total de usuários:
          <ion-badge item-end>{{countUsuarios}}</ion-badge>
    </ion-item>
      <ion-item text-wrap>
        <ion-label>Usuários Comum: </ion-label>
        <ion-badge item-end color="secondary">{{countUsusarioComum}}</ion-badge>
      </ion-item>
      <ion-item text-wrap>
        <ion-label >Gerenciadores: </ion-label>
        <ion-badge item-end color="secondary">{{countGerenciadores}}</ion-badge>
      </ion-item>
      <ion-item-divider color="light">
          <ion-label>
              Eventos
          </ion-label>
        </ion-item-divider>
      <ion-item text-wrap>
          <ion-icon name="book" item-start></ion-icon>
          Número de Eventos:
          <ion-badge item-end>{{countEventos}}</ion-badge>
        </ion-item>
        <ion-item-divider color="light">
            <ion-label>
                Solicitações
            </ion-label>
          </ion-item-divider>
          <ion-item text-wrap>
              <ion-icon name="hand" item-start></ion-icon>
              Número de Solicitações:
              <ion-badge item-end>{{countSolicitacoes}}</ion-badge>
            </ion-item>
    </ion-list>
</ion-content>
