page-meus-eventos {

    .eventos {

        background-color: #eee;

        h1.titulo {
            margin-bottom: 15px;
            font-size: 1.5em;
            text-align: center;
        }

        .data {
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 20px;
        }

    }

}
