<!--
  Generated template for the MeusEventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Meus Eventos</ion-title>
    <ion-buttons right>
      <button ion-button class="icon-med" (click)="buscarPorData()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button ion-button class="icon-med" (click)="criarEvento()">
        <ion-icon name="add"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="eventos">
  <h3 *ngIf="eventos.length == 0" class="sem-registros">
    Nenhum evento encontrado!
  </h3>
  <ion-card *ngFor="let evento of eventos">
    <img src="{{ evento.foto }}">
    <ion-card-content>
      <h1 class="titulo">{{ evento.nome }}</h1>
      <p>{{ evento.descricao }}</p>
      <!-- <ion-note>
        11h ago
      </ion-note> -->
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="editarEvento(evento)">
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button icon-left clear small (click)="excluirEvento(evento)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-col>
      <ion-col class="data">
        <span>{{ evento.dataPublicacao | date:'dd/MM/yyyy' }}</span>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>