page-minha-agenda {
    
    .scroll-content {
        margin-top: 0;
    }

    .item-md {
        padding-left: 0 !important; 
    }

    .agenda {

        h1.titulo {
            margin-bottom: 10px;
            font-size: 1.0em;
        }

    }

}
