<!--
  Generated template for the MinhaAgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="agenda" padding>
  <h3 *ngIf="eventos.length == 0" class="sem-registros">
      Nenhum evento encontrado!
  </h3>
  <ion-list>
    <button ion-item (click)="abrirDetalhes(evento)" *ngFor="let evento of eventos">
      <h1 class="titulo">{{ evento.nome }}</h1>
      <p>{{ evento.descricao }}</p>
      <ion-note item-right>{{ evento.data | date:'dd/MM/yyyy' }}</ion-note>
    </button>
  </ion-list>
</ion-content>