<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        <p class="aviso" *ngIf="solicitacoes > 0 && usuario.get().administrador==true">{{solicitacoes}}</p>
      </button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons right>
      <button ion-button class="icon-med" (click)="buscarPorData()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-tabs color="dark" #tabs class="tab">
    <ion-tab [root]="homeTab" [rootParams]="filtro" tabTitle="Home" tabIcon="home" (ionSelect)="alterarTab('home')"></ion-tab>
    <ion-tab [root]="mapaTab" [rootParams]="filtro" tabTitle="Mapa" tabIcon="map" (ionSelect)="alterarTab('mapa')"></ion-tab>
    <ion-tab [root]="agendaTab" [rootParams]="filtro" tabTitle="Minha Agenda" tabIcon="bookmarks" (ionSelect)="alterarTab('agenda')"></ion-tab>
  </ion-tabs>
</ion-content>