page-home {

    .searchbar-md .searchbar-search-icon {
        display: none !important;
      }
      .searchbar-md .searchbar-md-cancel {
        display: block !important;
      }
      .aviso{
        background-color: red;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
      }
      @media screen and (min-width: 580px) {
        .tab {
               background-color: red;
         }
    }
      

}
