<!--
  Generated template for the IgrejasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  <ion-title>Igrejas</ion-title>
  <ion-buttons right>
    <button ion-button class="icon-med" (click)="addIgreja()">
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let igreja of igrejas">
      <h2>{{igreja.nome}} IEQ</h2>
      <p>{{igreja.membros}} membros</p>
    </ion-item>
  </ion-list>
</ion-content>
