<!--
  Generated template for the MeusDadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Meus Dados</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div>
    <div class="perfil">
      <div class="capa">
        <img src="{{ dados.fotoCapa }}">
        <div class="foto">
          <img src="{{ dados.fotoPerfil }}">
        </div>
      </div>
      <ion-fab class="fab-image">
        <button ion-fab color="light" mini>
          <ion-icon name="create"></ion-icon>
        </button>
        <ion-fab-list side="bottom">
          <button ion-fab mini (click)="alterarFotoCapa('arquivo')">
            <ion-icon name="image"></ion-icon>
            <ion-label>Imagem da Capa</ion-label>
          </button>
          <button ion-fab mini (click)="alterarFotoCapa('camera')">
            <ion-icon name="camera"></ion-icon>
            <ion-label>Imagem da Capa</ion-label>
          </button>
          <button ion-fab mini (click)="alterarFotoPerfil('arquivo')">
            <ion-icon name="image"></ion-icon>
            <ion-label>Foto do Perfil</ion-label>
          </button>
          <button ion-fab mini (click)="alterarFotoPerfil('camera')">
            <ion-icon name="camera"></ion-icon>
            <ion-label>Foto do Perfil</ion-label>
          </button>
        </ion-fab-list>
      </ion-fab>
    </div>
    <div class="form">
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" [(ngModel)]="dados.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Bio</ion-label>
        <ion-input type="text" [(ngModel)]="dados.bio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefone</ion-label>
        <ion-input type="text" [(ngModel)]="dados.telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="acesso.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Senha Atual</ion-label>
          <ion-input type="password" [(ngModel)]="acesso.senha"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label floating>Nova Senha</ion-label>
        <ion-input type="password" [(ngModel)]="acesso.novaSenha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirmação da Nova Senha</ion-label>
        <ion-input type="password" [(ngModel)]="acesso.confirmacaoNovaSenha"></ion-input>
      </ion-item>
    </div>
    <div class="botoes">
        <button ion-button secondary round full (click)="salvar()">Salvar</button>
        <button ion-button color="danger" round full (click)="cancelar()">Cancelar</button>
      </div>
  </div>
</ion-content>