page-meus-dados {

    ion-item:not(.with-padding) .item-md {
        padding-left: 0 !important; 
     }
    
     ion-item:not(.with-padding).item-md {
        padding-left: 0 !important; 
     }

     .perfil {

        .capa {

            width: 100%;
            position: relative;
            height: 170px;
            margin-bottom: 15px;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover !important;
            }

        }

        .foto {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 45px;
            height: 150px;
            width: 150px;
            border-radius: 100%;
            overflow: hidden;
            border: 2px solid #ddd;
            left:calc(50% - 75px);
            background-color: #fff;
            
            
            img {   
                width: 100%;
                height: 100%;
                object-fit: cover !important;
            }
        }

        .fab-image {
            position: absolute;
            top: 135px;
            right: 5px;
        }

        .fab {
            contain: layout;
        }

        button[ion-fab] {
            overflow: visible;
            position: relative;        
            ion-label {
                position: absolute;
                top: -8px;
                right: 40px;
    
                color: white;
                background-color: rgba(0,0,0,0.7);
                line-height: 24px;
                padding: 4px 8px;
                border-radius: 4px;
            }
        }

    }

     .form {
         padding: 20px;
     }

     .botoes {
         padding: 20px;
     }

}
