<!--
  Generated template for the EventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-card *ngIf="evento">
    <ion-item class="with-padding" *ngIf="usuarioPub">
      <ion-avatar item-start (click)="abrirPerfil()">
        <img src="{{ usuarioPub.fotoPerfil }}">
      </ion-avatar>
      <h2 (click)="abrirPerfil()">{{ usuarioPub.nome }}</h2>
      <ion-note (click)="abrirPerfil()">
        Publicado em {{ evento.dataPublicacao | date:'dd/MM/yyyy' }}
      </ion-note>
      <button class="close-modal" ion-button item-end clear (click)="fechar()">
        <ion-icon name="close" color="dark-gray"></ion-icon>
      </button>
    </ion-item>
    <img src="{{ evento.foto }}">
    <ion-card-content>
      <div class="info">
        <h1 class="titulo">{{ evento.nome }}</h1>
        <p class="desc">{{ evento.descricao }}</p>
        <p>Data: {{ evento.data | date:'dd/MM/yyyy' }}</p>
        <p>Horário: {{ evento.horario }}</p>
        <p>Local:
          <br />
          <br />{{ evento.endereco.cidade }}/{{ evento.endereco.estado }}
          <br />{{ evento.endereco.rua }} {{ evento.endereco.numero }}
          <br />{{ evento.endereco.bairro }}, {{ evento.endereco.cep }}
          <br />{{ evento.endereco.referencia }}</p>

      </div>
      <div class="info">
        <h1>Organização</h1>
        <p>Nome: {{ evento.nomeContato }}</p>
        <p>Email: {{ evento.emailContato }}</p>
        <p>Telefone: {{ evento.telefoneContato }}</p>
      </div>
      <div class="info" *ngIf="evento.informacoesAdicionais.length > 0">
        <h1>Informações Adicionais</h1>
        <p>{{ evento.informacoesAdicionais }}</p>
      </div>
      <div class="opcoes">
        <button ion-button icon-left block clear *ngIf="!adicionadoAgenda" (click)="adicionarAgenda()">
          <ion-icon name="calendar"></ion-icon>
          <div>Adicionar a agenda</div>
        </button>
        <button ion-button icon-left block clear *ngIf="adicionadoAgenda" (click)="removerAgenda()">
          <ion-icon name="calendar"></ion-icon>
          <div>Remover da agenda</div>
        </button>
        <button ion-button icon-left block clear (click)="ligarParaContato()">
          <ion-icon name="call"></ion-icon>
          <div>Ligar para {{ evento.nomeContato }}</div>
        </button>
        <button ion-button icon-left block clear (click)="conversarWhatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <a>Contato via WhatsApp</a>
        </button>
      </div>
    </ion-card-content>
  </ion-card>
  <div *ngIf="map" id="map_canvas"></div>
  <ion-fab bottom right class="fab-image">
    <button ion-fab mini color="light" (click)="compartilhar('whatsapp', 'WhatsApp')">
      <ion-icon color="whats" name="logo-whatsapp"></ion-icon>
    </button>
  </ion-fab>

    <!--ion-fab-list side="top">
      <button ion-fab mini (click)="compartilhar('whatsapp', 'WhatsApp')">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-label>Compartilhar</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab> -->
  
</ion-content>