page-evento {

    .fab {
        contain: layout;
    }

    button[ion-fab] {
        overflow: visible;
        position: relative;        
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    .card-md {
        width: 100%;
        margin: 0;
        min-height: 100%;
        
        .card-content-md {
            padding: 0;
        }
    }

    .close-modal {
        ion-icon {
            font-size: 2em;
        }
    }

    .info {

        padding: 15px;

        h1 {
            margin-bottom: 15px;
            text-align: center;
        }

        &:not(:first-of-type){
            padding-top: 0;

            h1 {
                font-size: 2.0rem;
            }
        }

        p {
            margin-bottom: 5px;

            &.desc {
                margin-bottom: 10px;
            }
        }

    }

    .opcoes {
        padding: 0 15px 15px;
    }

    #map_canvas {
        position: relative;
		height: 200px;
    }

}
