page-redefinir-senha {

    .item-md {
        padding-left: 0 !important; 
    }

    h3 {
        text-align: center;
    }

    .logo {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

        img {
            max-height: 100px;
        }

    }

}
