<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar color="branco">
    <ion-buttons left>
      <button ion-button class="icon-large" (click)="login()">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="abrirInformacao()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar transparent>
    
  </ion-toolbar>
</ion-header>

<ion-content padding class="login">

  <div class="logo">
    <img src="assets/imgs/logo.png">
  </div>

  <h3 magin-bottom>Redefina sua Senha.</h3>

  <ion-list margin-top margin-top margin-bottom>
    <ion-item>
      <ion-label stacked>Nome de usuário ou Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <button ion-button full round (click)="redefinir()">
      Redefinir Senha
    </button>
  </ion-list>

</ion-content>
