<ion-menu [content]="content">
  <ion-content  *ngIf="rootPage != 'LoginPage'">
    <div class="menu-perfil">
      <div class="foto">
        <img [src]="usuario.get().fotoPerfil">
      </div>
      <div class="info">
        <h1 class="menu-nome">{{usuario.get().nome}}</h1>
        <h2 class="menu-email">{{usuario.get().email}}</h2>
      </div>
    </div>

    <div class="menu-paginas">
      <ng-container *ngFor="let pagina of paginaUser">
        <button ion-item menuClose  (click)="abrirPagina(pagina.pagina)">
          {{ pagina.titulo }}
        </button>
      </ng-container>
      <ng-container *ngFor="let pagina of paginaGer">
          <button ion-item menuClose  *ngIf="usuario.get().gerenciador==true" (click)="abrirPagina(pagina.pagina)">
            {{ pagina.titulo }}
          </button>
        </ng-container>
        <ng-container *ngFor="let pagina of paginaAdm">
            <button class="btn-menu" ion-item menuClose  *ngIf="usuario.get().administrador==true" (click)="abrirPagina(pagina.pagina)">
              {{ pagina.titulo }}
              <span class="aviso" *ngIf="pagina.titulo == 'Solicitações' && solicitacoes > 0">{{solicitacoes}}</span>
            </button>
          </ng-container>
      <button ion-item (click)="sair()" menuClose>
        Sair
      </button>
    </div>
  </ion-content>
  <ion-content *ngIf="rootPage == 'LoginPage'">
    <div class="menu-paginas">
      <button ion-item menuClose (click)="abrirPagina('LoginPage')">
        <ion-icon [name]="user"></ion-icon>
        Login
      </button>
      <button ion-item menuClose (click)="abrirPagina('CriarContaPage')">
        <ion-icon [name]="create"></ion-icon>
        Cadastrar-se
      </button>
      <button ion-item menuClose (click)="abrirPagina('RedefinirSenhaPage')">
        <ion-icon [name]="create"></ion-icon>
        Redefinir Senha
      </button>
    </div>
  </ion-content>

  <ion-footer>
    <div class="menu-sobre">
      <ion-item (click)="abrirPagina('SobrePage')" menuClose>
        Sobre
      </ion-item>
    </div>
  </ion-footer>

</ion-menu>

<ion-nav #menuNav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>