// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.aviso{
    background-color: red;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color:#fff;
  }

.menu-perfil {

    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .foto {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover !important;
        }
    }

    

    .info {
        width: calc(100% - 80px);
        margin-left: 5%;

        .menu-nome {
            margin-top: 0;
            margin-bottom: 4px;
            color: #333;
            font-size: 1.3em;
        }

        .menu-email {
            font-size: 0.9em;
            margin-top: 0;
            margin-bottom: 0;
            color: gray;
        }


    }

}

.menu-paginas {

    padding: 15px;

    .item-md.item-block:last-of-type .item-inner {
        border-bottom: 0;
    }

}

.menu-sobre {

    padding: 0 15px 0;

}

h3.sem-registros {
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    padding: 10%;
}

.toast-sucesso {
    .toast-wrapper {
        background: #5cb85c;
    }
}

.toast-aviso {
    .toast-wrapper {
        background: #ec971f;
    }
}

.toast-erro {
    .toast-wrapper {
        background: #d9534f;
    }
}

.bar-button-menutoggle {
    display: inline-flex;
}

.vcenter {
    display: inline-flex;
    align-items: center;
}

.right-align {
    text-align: right;
    justify-content: flex-end;
}

.icon-large {
    min-width: 44px;

    ion-icon {
        font-size: 1.7em;
    }

}

.icon-med {
    min-width: 30px;

    ion-icon {
        font-size: 1.7em;
    }

}

ion-app._gmaps_cdv_.nav-decor {
    background-color: transparent !important;
}

input[type="date"]::-webkit-clear-button {
    display: none !important;
}

input::-ms-clear {
    width: 0 !important;
    height: 0 !important;
}

input[type=text]::-ms-clear {
    display: none !important;
}

::-webkit-search-cancel-button { 
    -webkit-appearance: none !important; 
}

::-webkit-search-results-button {
     -webkit-appearance: none !important; 
}

input[type=search] { 
    -webkit-appearance: none !important; 
}

.item-md ion-avatar {
    img {
        object-fit: cover !important;
    }
}