<!--
  Generated template for the CriarPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button class="icon-large">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Criar Post</ion-title>
    <ion-buttons right>
      <button ion-button class="icon-large" (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="image">
    <ion-fab top right>
      <button ion-fab color="light" mini>
        <ion-icon name="create"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab mini (click)="alterarImagem('arquivo')">
          <ion-icon name="image"></ion-icon>
        </button>
        <button ion-fab mini (click)="alterarImagem('camera')">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
    <img [src]="dados.foto">
  </div>
  <div class="form">
    <ion-item>
        <ion-label floating>Qual o título da sua postagem</ion-label>
        <input type="text" rows="4" [(ngModel)]="dados.titulo"></input>
      <ion-label floating>Escreva aqui o que você está pensando</ion-label>
      <ion-textarea type="text" rows="4" [(ngModel)]="dados.mensagem"></ion-textarea>
    </ion-item>
  </div>
  <div class="botoes">
    <button ion-button block (click)="salvar()">Salvar</button>
    <button ion-button block clear  (click)="cancelar()">Cancelar</button>
  </div>
</ion-content>
