<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="abrirInformacao()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login">

  <div class="logo">
    <img src="assets/imgs/logo.png">
  </div>

  <h3 magin-bottom>Realize seu Cadastro.</h3>

  <ion-list margin-top margin-top margin-bottom class="list-conta">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input [(ngModel)]="usuario.nome"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Bio</ion-label>
        <ion-textarea [(ngModel)]="usuario.bio" rows="4"></ion-textarea>
      </ion-item>
    <ion-item padding-bottom>
      <ion-label stacked>Celular</ion-label>
      <ion-input [(ngModel)]="usuario.telefone" type="number" maxlength="13" min="13"></ion-input>
    </ion-item>


    <ion-item padding-top>
      <ion-label stacked>Email</ion-label>
      <ion-input [(ngModel)]="usuario.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>A qual igreja você pertence?</ion-label>
      <ion-select [(ngModel)]="igreja">
        <ion-option *ngFor="let ieq of igrejas" [value]="ieq.nome">{{ieq.nome}} IEQ</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark" (ionChange)="confirm()" [(ngModel)]="checkConfirm" checked="checkConfirm"></ion-checkbox>
      <ion-label>Você deseja criar e gerenciar eventos?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Confirmação Senha</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.confirmacaoSenha"></ion-input>
    </ion-item>
    <button ion-button full round (click)="criarConta()">
      Criar Conta
    </button>
    <button clear full ion-button (click)="login()">
      Ir para o Login
    </button>
  </ion-list>

</ion-content>
