<!--
  Generated template for the SobrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button class="icon-large">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-buttons right>
      <button ion-button class="icon-large" (click)="sair()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>Desenvolvedores</h1>
  <ion-list>
    <ion-item>
      João Eduardo Kernitskei
      <ion-note>jjoaoeduardo93@gmail.com</ion-note>
    </ion-item>
    <ion-item>
      Marcos Vinicius Labres de Oliveira
      <ion-note>mvloliveira@yahoo.com.br</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    Versão 2.0
  </ion-item>
</ion-footer>