page-sobre {

    .item-md {
        padding-left: 0 !important; 
    }

    h1 {
        padding-top: 30px;
        margin-bottom: 40px;
        font-size: 1.6em;
        text-align: center;
        color: #333;
    }

    .label-md {
        text-align: center;
    }

    ion-note {
        display: block;
        width: 100%;
        font-size: 0.8em;
        margin-top: 10px;
    }

}
